@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.headerContainer {
  position: absolute;
  top: 20%;
  text-align: center;
  background-color: white;
  padding: 10px;
  text-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.headerContainer h1 {
  font-size: 90px;
  font-weight: 700;
  color: black;
}

.headerContainer p {
  font-size: 40px;
  font-weight: lighter;
  margin: 10px 0;
  color: black;
}

.headerContainer button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 180px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}

.headerContainer button:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
}

.imageSection {
  width: 100%;
  padding: 50px 20px;
  text-align: center;
}

.imageSection h2 {
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}

.pizzaImagesContainer {
  width: 100%;
  overflow: hidden;
}

.pizzaImages {
  display: flex;
  transition: transform 1s ease-in-out;
}

.pizzaInfo {
  text-align: center;
  max-width: 300px;
  flex-shrink: 0;
  margin-right: 30px;
}

.pizzaImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.pizzaInfo h3 {
  font-size: 25px;
  margin-top: 15px;
}

.pizzaInfo p {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

.testimonials {
  background-color: #f5f5f5;
  padding: 50px 20px;
  text-align: center;
  width: 100%;
}

.testimonials h2 {
  font-size: 40px;
  color: #121619;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.testimonialCard {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 60%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.testimonialCard p {
  font-size: 20px;
  color: #555;
  line-height: 1.6;
}

.testimonialCard p:first-child {
  font-weight: bold;
}

.testimonialCard:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 650px) {
  .banner {
    height: 60vh;
  }

  .headerContainer h1 {
    font-size: 40px;
  }

  .headerContainer p {
    font-size: 30px;
  }

  .headerContainer button {
    background-color: white;
    color: black;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: #e1e1e1;
    color: black;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
  }

  .imageSection h2 {
    font-size: 30px;
  }

  .pizzaImagesContainer {
    width: 100%;
  }

  .pizzaImages {
    flex-direction: column;
  }

  .pizzaInfo {
    max-width: 250px;
    margin: 10px 0;
  }

  .pizzaImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .testimonialCard {
    width: 80%;
  }
}
